body{
    box-sizing: border-box;
}

.m-width{
    margin: 0 10%;
}
.bg-1{
    background-color: #FEEAE9;
}
.nav-item:hover{
    background-color: #FF136F;
    border-radius: 10px;
}

.nav-link:hover{
    color: #FEEAE9 !important;
}

.footer{
    height: 60vh;
    background-color: #FEEAE9;
}
@media screen and (max-width:688px) {
    .m-width{
        margin: 0;
    }

    .footer{
        height: 30vh;
    }
}